---
import Dropdown from "./Dropdown.svelte"

export interface Props {
  item: NavItem
} 

const {item: {text, href, external, child}} = Astro.props as Props

const isDropdown = child
const isPlaceholder = !child && !href
const isInternal = !child && href && !external
const isExternal = !child && href && external
---
{isDropdown && <Dropdown class="item" text={text} />}
{isPlaceholder && <span class="item">{text}</span>} 
{isInternal && <a class="item" href={href}>{text}</a>}
{isExternal && <a class="item" href={href} target="_blank">
  <span>{text}</span>
  <i class="i-external"></i>
</a>
}

<style>
  a {
    justify-content: space-between;
  }

  .item {
    padding: 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: normal;
  }

  .item:hover, .item:focus {
    color: white !important;
    background-color: darkslategray !important;
  }
</style>