---
import metadata from "../metadata.ts"
const { author: { name, email } } = metadata as Metadata

const build = process.env.CF_PAGES_COMMIT_SHA
const href = `https://github.com/cptchloroplast/blog/commit/${build}`
const current = new Date().getUTCFullYear()
const initial = Astro.fetchContent<Post>("../pages/posts/*.md")
  .reduce((result, post) => {
    const year = new Date(post.published).getUTCFullYear()
    return year < result ? year : result
  }, current)
---
<footer>
  <small>
    <span>&copy;</span>
    {initial < current && <span>{current}-{initial}</span>}
    {initial === current && <span>{current}</span>}
    <span>{name} &lt;{email}&gt;</span>
  </small>
  {build && 
    <small id="build">
      <span>Build: </span>
      <a href={href} target="_blank">{build.slice(0,7)}</a>
    </small>
  }
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    flex-shrink: 0;
    background-color: black;
    color: white;
  }

  a {
    color: steelblue;
  }

  a:hover, a:focus {
    color: lightsteelblue;
  }

  a:active, a:visited {
    color: darkslateblue;
  }
</style>