---
import metadata from "../metadata.ts"
const { author: { name, email }, repo } = metadata as Metadata

const build = process.env.CF_PAGES_COMMIT_SHA
const href = `${repo}/commit/${build}`
const current = new Date().getUTCFullYear()

// https://github.com/withastro/astro/issues/2419
const initial = 2018
// const initial = Astro.fetchContent<Post>("../pages/posts/*.md")
//   .reduce((result, post) => {
//     const year = new Date(post.published).getUTCFullYear()
//     return year < result ? year : result
//   }, current)
---
<footer>
  <small>
    {initial < current && <span>&copy; {initial}-{current}</span>}
    {initial === current && <span>&copy; {current}</span>}
    <span>{name}</span>
    <a href={`mailto:${email}`} title={email}>&lt;{email}&gt;</a>
  </small>
  {build && 
    <small id="build">
      <span>Build: </span>
      <a href={href} title={build} target="_blank">{build.slice(0,7)}</a>
    </small>
  }
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    flex-shrink: 0;
    background-color: black;
    color: white;
  }

  a {
    color: steelblue;
  }

  a:hover, a:focus {
    color: lightsteelblue;
  }

  a:active {
    color: darkslateblue;
  }
</style>