---
import { type Navigation } from "@schemas"
import { PostService } from "@services"
import { copyright } from "@utils"
import { Header, Footer, Toast } from "@components/ui"
type Props = {
  title: string
  navigation: Navigation[]
  description?: string
  image?: string
}

const metadata = Astro.locals.metadata
const { name, email } = metadata
const service = PostService(Astro.locals.runtime.env.DB)
const earliest = await service.getEarliest()
const { CF_PAGES_COMMIT_SHA, GITHUB_OWNER, GITHUB_REPOSITORY } = Astro.locals.runtime.env
const commit = CF_PAGES_COMMIT_SHA ?? "develop"
const href = CF_PAGES_COMMIT_SHA ? `https://github.com/${GITHUB_OWNER}/${GITHUB_REPOSITORY}/commit/${commit}` : "#"

const {
  title,
  navigation,
  description = metadata.description, 
  image = "/img/me.webp",
} = Astro.props
const { origin, hostname } = Astro.site!
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content={`${name} <${email}>`} />
    <title>{title} - {hostname}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="alternate" type="application/rss+xml" title={title} href="/rss.xml" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={origin} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${origin}${image}`} />
    <slot name="header" />
  </head>
  <body>
    <Header navigation={navigation} client:load />
    <div>
      <main>
        <slot />
      </main>
      <aside>   
        <slot name="sidebar" />
      </aside>
    </div>
    <Footer>
      <Fragment>
        <span>{copyright(earliest?.published!)}</span>
        <span>{name}</span>
        <a href={`mailto:${email}`} title={email}>&lt;{email}&gt;</a>
      </Fragment>
      <Fragment slot="right">
        <span>Build: </span>
        <a href={href} title={commit} target="_blank" rel="noreferrer">{commit.slice(0,7)}</a>
      </Fragment>
    </Footer>
    <Toast client:load />
	</body>
</html>

<style is:global>
  a {
    color: steelblue;
  }

  a:hover, a:focus {
    color: lightsteelblue;
  }

  a:active {
    color: darkslateblue;
  }

  hr {
    border: solid black 1px;
  }
</style>

<style>
  html, body {
    height: 100%;
  }

  body {
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  div {
    display: flex;
    flex-direction: row;
    margin: 8px;
    gap: 8px;
    flex-grow: 1;
  }

  /** mobile */
  @media screen and (max-width: 1000px) {
    div {
      flex-direction: column;
    }
    
    main, aside {
      width: unset;
    }
  }
</style>