---
import Header from "../components/navigation/Header.svelte"
import Footer from "../components/Footer.astro"
import Toast from "../components/Toast.svelte"
import Card from "../components/Card.astro"
import Photo from "../components/profile/Photo.astro"
import Contact from "../components/profile/Contact.astro"
import Bio from "../components/profile/Bio.astro"
import Title from "../components/Title.astro"
import Subscribe from "../components/forms/Subscribe.svelte"

export interface Props {
  title: string
  description?: string
  image?: string
}

import metadata from "../metadata.ts"
const { author: { name, email } } = metadata as Metadata

const {
  title,
  description = metadata.description, 
  image = "/img/me.webp" 
} = Astro.props
const { origin, hostname } = Astro.site
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content={`${name} <${email}>`} />
    <title>{title} - {hostname}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/icons.css">
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={origin} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${origin}${image}`} />
  </head>
  <body>
    <Header client:load />
    <div>
      <main>
        <slot />
        <span>
          <Card>
            <Subscribe client:load />
          </Card>
        </span>
      </main>
      <aside>   
        <Card>
          <Photo />
          <hr>
          <Title>Benjamin Okkema</Title>
          <Bio />
          <hr>
          <Contact />
        </Card>
      </aside>
    </div>
    <Footer />
    <Toast client:load />
	</body>
</html>

<style global>
  a {
    color: steelblue;
  }

  a:hover, a:focus {
    color: lightsteelblue;
  }

  a:active {
    color: darkslateblue;
  }

  hr {
    border: solid black 1px;
  }
</style>

<style>
  html, body {
    height: 100%;
  }

  body {
    background-color: lightgray;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  main {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  div {
    display: flex;
    flex-direction: row;
    margin: 8px;
    gap: 8px;
    flex-grow: 1;
  }

  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /** mobile */
  @media screen and (max-width: 1000px) {
    div {
      flex-direction: column;
    }
    
    main, aside {
      width: unset;
    }
  }
</style>