---
import type { Post, Tag } from "@schemas"
import Giscus from "@giscus/svelte"
import { Tags } from "@components"
import { Card, Subtitle, Title } from "@components/ui"
import { BaseLayout } from "@layouts"
import { formatDate } from "@utils"
type Props = {
  content: Post
}
const { content } = Astro.props
const { title, description, published, tags, updated } = content
---
<BaseLayout title={title} description={description}>
  <Card>
    <article>
      <Title>{title}</Title>
      <Subtitle>
        {updated && <span>Updated: {formatDate(updated)}</span>}
        <span>Published: {formatDate(published)}</span>
      </Subtitle>
      <hr>
      <div id="markdown">
        <slot />
      </div>
      <hr>
      <Tags tags={tags.split(",").map((tag): Tag => ({ name: tag }))} />
    </article>
  </Card>
  <Card>
    <Giscus 
      id="comments"
      repo="cptchloroplast/blog"
      repoId="MDEwOlJlcG9zaXRvcnkyNTM2MzYxNDk="
      category="Announcements"
      categoryId="DIC_kwDODx4uNc4COmZv"
      mapping="og:title"
      term={null}
      reactionsEnabled="0"
      emitMetadata="0"
      inputPosition="bottom"
      theme="light"
      lang="en"
      client:load
    />
  </Card>
</BaseLayout>

<style is:global>
  #markdown {
    line-height: 1.5;
  }
  
  #markdown :first-child{
    margin-top: 0;
  }

  #markdown :last-child {
    margin-bottom: 0;
  }

  #markdown pre {
    padding: 8px;
  }
</style>