---
import { Biography, ContactLinks, SubscribeForm, Tags } from "@components";
import { Card, Photo, Subtitle, Title } from "@components/ui";
import { BaseLayout } from "@layouts";
type Props = {
  title: string
  description?: string
};
const metadata = Astro.locals.metadata;
const {
  author: { name, username },
  profile: { bio, contact },
  navigation,
} = metadata;
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} navigation={navigation}>
  <slot name="header" slot="header" />
  <Fragment slot="default">
    <slot />
    <div id="subscribe">
      <Card>
        <SubscribeForm client:load />
      </Card>
    </div>
  </Fragment>
  <Fragment slot="sidebar">
    <Card>
      <Photo src="/img/me.small.webp" alt="My profile picture" />
      <hr />
      <div id="name">
        <Title>{name}</Title>
        <Subtitle color="gray">{username}</Subtitle>
      </div>
      <Biography bio={bio} />
      <hr />
      <ContactLinks contact={contact} />
    </Card>
  </Fragment>
</BaseLayout>

<style>
  div#subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  div#name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
</style>
